<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:elasticsearch="http://www.springframework.org/schema/data/elasticsearch"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                            http://www.springframework.org/schema/data/elasticsearch http://www.springframework.org/schema/data/elasticsearch/spring-elasticsearch.xsd
                            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	
	<elasticsearch:transport-client id="client"
		cluster-name="ms" cluster-nodes="43.248.97.98:9300,43.248.136.164:9300"
		client-transport-sniff="false" />
	<!-- Spring data 自动扫描repository接口，生成实现类 -->
	<elasticsearch:repositories base-package="net.mingsoft.**.search"
		elasticsearch-template-ref="elasticsearchTemplate" />
	<bean name="elasticsearchTemplate"
		class="org.springframework.data.elasticsearch.core.ElasticsearchTemplate">
		<constructor-arg name="client" ref="client" />
	</bean>
</beans>